<div class="topnav shadow-sm">
  <div class="container-fluid">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
      <div
        class="navbar-collapse active collapse"
        id="topnav-menu-content"
        style=""
      >
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle arrow-none"
              href="#"
              id="topnav-dashboards"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="uil-dashboard mr-1"></i>Manage
              <div class="arrow-down"></div>
            </a>
            <div class="dropdown-menu" aria-labelledby="topnav-dashboards">
              <a [routerLink]="['/owner/motorbike']" class="dropdown-item"
                >Motorbikes</a
              >
              <a [routerLink]="['/owner/appointments']" class="dropdown-item"
                >Appointments</a
              >
              <a href="index.html" class="dropdown-item">Ecommerce</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle arrow-none"
              href="#"
              id="topnav-dashboards"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="mdi mdi-chart-multiple"></i>Statistic
              <div class="arrow-down"></div>
            </a>
            <div class="dropdown-menu" aria-labelledby="topnav-dashboards">
              <a [routerLink]="['/owner/statistic/revenue']" class="dropdown-item"
                >Revenue</a
              >
              <a [routerLink]="['/owner/statistic/motorbike']" class="dropdown-item"
                >Motorbikes</a
              >
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
